@import "tailwindcss";

:root {
    --color-menu-cyan-main: #93f8f9;
    --color-menu-cyan-sec: #94e5fc;
    --color-menu-cyan-third: #56baeb;
    --color-menu-rose-select: #ca8ec9;
    --color-menu-white-select: white;
    --color-menu-red-select: #e83324;
    --color-menu-blue-icons: #3f7ce1;
    --color-menu-light-blue-border: #93e6ec;
}

body {
    background: #1a216d;
}

@font-face {
    font-family: "Rodin Pro";
    src: url("/fonts/FOT-Rodin-Pro-EB.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .text-menu-cyan-main {
        color: var(--color-menu-cyan-main);
    }
    .group:hover .group-hover\:text-menu-cyan-main {
        color: var(--color-menu-cyan-main);
    }
    .text-menu-cyan-sec {
        color: var(--color-menu-cyan-sec);
    }
    .text-menu-cyan-third {
        color: var(--color-menu-cyan-third);
    }
    .hover-text-menu-red-select {
        color: var(--color-menu-red-select);
    }

    .group:hover .group-hover\:bg-menu-cyan-main {
        background-color: var(--color-menu-cyan-main);
    }

    .hover-bg-menu-rose-select {
        background-color: var(--color-menu-rose-select);
    }
    .hover-bg-menu-white-select {
        background-color: var(--color-menu-white-select);
    }
    .bg-menu-blue-icons {
        background-color: var(--color-menu-blue-icons);
    }

    .border-menu-blue {
        border-color: var(--color-menu-light-blue-border);
    }
}

@theme {
    --font-rodin: "Rodin Pro", sans-serif;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-7_5xl {
    font-size: 5rem;
    line-height: 0.9;
}

.-bottom-7_5 {
    bottom: -30px;
}

.right-1_5 {
    right: 6px;
}
