@import "tailwindcss";

:root {
    /* Text */
    --color-text-menu-cyan-main: #93f8f9;
    --color-text-menu-cyan-sec: #94e5fc;
    --color-text-menu-cyan-third: #56baeb;

    --color-text-details-main: #f3f1f2;
    --color-text-details-secund: #3a3a3a;
    --color-text-details-third: #65dcfb;

    --color-text-details-fourth: #98fcfe;
    --color-text-details-fifth: #a7a7a7;

    --color-text-neutral: #262626;

    /* Selected Option */
    --color-select-menu-rose: #ed7cd4;
    --color-select-menu-white: #fff;
    --color-text-select-menu-red: #e83324;

    /* Icons */
    --color-icons: #f3f1f2;
    --color-select-icons: #65dcfb;
    --color-menu-blue-icons: #3f7ce1;
    --color-icons-neutral: #262626;

    /* Background */
    --color-bg-details-main: #56baeb;
    --color-bg-details-secund: #131313;
    --color-bg-details-third: #f3f1f2;
    --color-bg-details-fourth: #3a3a3a;
    --color-bg-details-fifth: #65dcfb;
    --color-bg-details-sixth: #0511b6;
    --color-bg-details-seventh: #98fcfe;
    --color-bg-details-eight: #0e0e50;
    --color-bg-details-nineth: #183291;
    --color-bg-details-tenth: #000254;

    --color-bg-details-neutral: #262626;

    /* Border */
    --color-menu-light-blue-border: #93e6ec;
    --color-menu-main-border: #65dcfb;
}

body {
    background: #1a216d;
}

@font-face {
    font-family: "Rodin Pro";
    src: url("/fonts/FOT-Rodin-Pro-EB.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Skip STD B";
    src: url("/fonts/FOT-Skip-Std-B.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    /* Text */
    .text-neutral {
        color: var(--color-text-neutral);
    }

    .group:hover .group-hover\:text-neutral {
        color: var(--color-text-neutral);
    }

    .text-menu-cyan-main {
        color: var(--color-text-menu-cyan-main);
    }
    .group:hover .group-hover\:text-menu-cyan-main {
        color: var(--color-text-menu-cyan-main);
    }
    .text-menu-cyan-sec {
        color: var(--color-text-menu-cyan-sec);
    }
    .text-menu-cyan-third {
        color: var(--color-text-menu-cyan-third);
    }

    .group:hover .group-hover\:bg-menu-cyan-main {
        background-color: var(--color-text-menu-cyan-main);
    }

    .color-text-details-main {
        color: var(--color-text-details-main);
    }

    .color-text-details-secund {
        color: var(--color-text-details-secund);
    }

    .color-text-details-third {
        color: var(--color-text-details-third);
    }

    .color-text-details-fourth {
        color: var(--color-text-details-fourth);
    }

    .color-text-details-fifth {
        color: var(--color-text-details-fifth);
    }

    .group:hover .group-hover\:color-text-details-third {
        color: var(--color-text-details-third);
    }

    .text-shadow-main {
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 2px 0 #65dcfb, -2px 2px 0 #65dcfb, 2px -2px 0 #65dcfb,
            -2px -2px 0 #65dcfb;
    }

    .text-shadow-back-info {
        -webkit-text-stroke: 1px #262626;
        text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .group:hover .group-hover\:text-shadow-secund {
        text-shadow: 2px 2px 0 #262626, -2px 2px 0 #262626, 2px -2px 0 #262626,
            -2px -2px 0 #262626;
    }

    /* Selected Option */

    .text-menu-select-red {
        color: var(--color-text-select-menu-red);
    }
    .bg-menu-select-rose {
        background-color: var(--color-select-menu-rose);
    }
    .bg-menu-select-white {
        background-color: var(--color-select-menu-white);
    }

    /* Icons */

    .color-icons {
        color: var(--color-icons);
    }

    .color-select-icons {
        color: var(--color-select-icons);
    }

    .group:hover .group-hover\:color-select-icons {
        color: var(--color-select-icons);
    }

    .fill-icons {
        fill: var(--color-icons);
    }

    .color-icons-neutral {
        fill: var(--color-icons-neutral);
    }

    .group:hover .group-hover\:color-icons-neutral {
        fill: var(--color-icons-neutral);
    }

    .fill-select-icons {
        fill: var(--color-select-icons);
    }

    .group:hover .group-hover\:fill-select-icons {
        fill: var(--color-select-icons);
    }

    .bg-menu-blue-icons {
        background-color: var(--color-menu-blue-icons);
    }

    .bg-menu-blue-icons-gradient {
        background: linear-gradient(
            155deg,
            transparent 20%,
            var(--color-menu-blue-icons) 60%
        );
    }
    .bg-menu-blue-icons-gradient-middle {
        background: linear-gradient(
            to bottom,
            #4c80de 20%,
            var(--color-menu-blue-icons) 100%
        );
    }
    .bg-menu-blue-icons-gradient-inverted {
        background: linear-gradient(
            180deg,
            var(--color-menu-blue-icons) 100%,
            transparent 100%
        );
    }

    /* Background */

    .color-bg-details-main {
        background-color: var(--color-bg-details-main);
    }

    .color-bg-details-secund {
        background-color: var(--color-bg-details-secund);
    }

    .color-bg-details-third {
        background-color: var(--color-bg-details-third);
    }

    .color-bg-details-fourth {
        background-color: var(--color-bg-details-fourth);
    }

    .color-bg-details-fifth {
        background-color: var(--color-bg-details-fifth);
    }

    .group:hover .group-hover\:color-bg-details-fifth {
        background-color: var(--color-bg-details-fifth);
    }

    .color-bg-details-sixth {
        background-color: var(--color-bg-details-sixth);
    }

    .color-bg-details-seventh {
        background-color: var(--color-bg-details-seventh);
    }

    .group:hover .group-hover\:color-bg-details-seventh {
        background-color: var(--color-bg-details-seventh);
    }

    .color-bg-details-eight {
        background-color: var(--color-bg-details-eight);
    }

    .color-bg-details-nineth {
        background-color: var(--color-bg-details-nineth);
    }

    .color-bg-details-tenth {
        background-color: var(--color-bg-details-tenth);
    }

    .color-bg-details-neutral {
        background-color: var(--color-bg-details-neutral);
    }

    .group:hover .group-hover\:color-bg-details-neutral {
        background-color: var(--color-bg-details-neutral);
    }

    .color-bg-details-secund-gradient {
        background: linear-gradient(to top right, #6de9fc 30%, #183ebd);
    }

    .color-bg-details-third-gradient-right {
        background: linear-gradient(
            to right,
            #0104b0,
            #0c27b7,
            #1d49bf,
            #2c66c9,
            #3d87df,
            #62d4fa 90%,
            #86fcfd 95%
        );
    }

    .color-bg-details-third-gradient-top {
        background: linear-gradient(
            to top,
            #0104b0,
            #0c27b7,
            #1d49bf,
            #2c66c9,
            #3d87df,
            #62d4fa 90%,
            #86fcfd
        );
    }

    .color-bg-details-fifth-gradient {
        background: linear-gradient(
            to right,
            transparent 1%,
            var(--color-bg-details-fifth),
            transparent 99%
        );
    }

    /* Border */
    .border-menu-blue {
        border-color: var(--color-menu-light-blue-border);
    }

    .border-main {
        border-color: var(--color-menu-main-border);
    }
}

@theme {
    --font-rodin: "Rodin Pro", sans-serif;
    --font-skipstdb: "Skip STD B", sans-serif;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropBounce {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
    }
    40% {
        transform: translateY(calc(var(--i) * 8.5rem + 1.8rem));
        opacity: 1;
    }
    55% {
        transform: translateY(calc(var(--i) * 8.5rem - 0.4rem));
    }
    70% {
        transform: translateY(calc(var(--i) * 8.5rem + 0.2rem));
    }
    100% {
        transform: translateY(calc(var(--i) * 8.5rem));
        opacity: 1;
    }
}

@keyframes transitionNextPage {
    0% {
        mask-size: 50px;
    }

    100% {
        mask-size: 1100vh;
    }
}

@keyframes transitionToHomePage {
    0% {
        mask-size: 1100vh;
    }

    100% {
        mask-size: 0px;
        display: none;
    }
}

@keyframes breath {
    0%,
    100% {
        box-shadow: 0 0 10px 4px var(--color-bg-details-nineth);
    }
    50% {
        box-shadow: 0 0 25px 8px var(--color-bg-details-nineth);
    }
}

/* Custom Classes */
.text-7_5xl {
    font-size: 5rem;
    line-height: 0.9;
}

.-bottom-7_5 {
    bottom: -30px;
}

.right-1_5 {
    right: 6px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in Chrome, Safari*/
}
